
@model login_page.Models.Register

@{
    ViewBag.Title = "LoginPage";
}

<h2>LoginPage</h2>

<form method="post" action="@Url.Action("Register", "Home")">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, "", new { @class = "form-control", @placeholder = "First Name" })
    </div>
    <div>

        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, "", new { @class = "form-control", @placeholder = "Password" })
    </div>
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
    </div>

</form>
